#cloud-config

users:
  - name: ${unix_username}
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - ${ssh_public_key}

ssh_pwauth: false

packages:
  - curl
  - git
  - unzip
  - build-essential
package_update: true
package_upgrade: true

runcmd:
  # Setup Tailscale
  - curl -fsSL https://tailscale.com/install.sh | sh
  - tailscale up --authkey=${tailscale_auth_key}

  # Setup Homebrew
  - curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh -o /tmp/brew-install.sh
  - mkdir -p /home/linuxbrew/.linuxbrew
  - chown -R ${unix_username} /home/linuxbrew
  - su -l ${unix_username} -c 'NONINTERACTIVE=1 bash /tmp/brew-install.sh'
  - su -l ${unix_username} -c 'echo "eval \"\$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)\"" >> ~/.profile'

  # Setup Node
  - su -l ${unix_username} -c 'brew install node@24'
  - su -l ${unix_username} -c 'brew link node@24 --force --overwrite'
  - su -l ${unix_username} -c 'node --version'
  - su -l ${unix_username} -c 'npm --version'

  # Setup OpenClaw
  - su -l ${unix_username} -c 'curl -fsSL https://openclaw.ai/install.sh | bash'

power_state:
  mode: reboot
  timeout: 5
  condition: true
